/*General styles go here*/
#content
{
	width:85%;
	height:auto;
	margin-left:7.5%;
	text-align:left;
}

@media only screen and (orientation: landscape)
{
	/*Place styles here for landscape-mode devices*/
	#content
	{
		width:70%;
		margin-left:15%;
	}
}