/*General styles go here*/
html
{
	font-size:62.5%;
}

body
{
	background-color:#e8f8ff;
	background-image:linear-gradient(to bottom right, #e8f8ff, #63cfff);
	background-repeat:no-repeat;
	min-height:95vh;
	overflow-x:hidden;
	overflow-y:auto;
	margin:0%;
	padding-top:2.5vh;
	padding-bottom:2.5vh;
	font-family:'Roboto', sans-serif;
	color:#007eff;/*#edfaff;*/
	text-align:center;
}

h1
{
	margin-bottom:12vmin;
	font-size:5.5vmin;
	color:#0067cf;
}

h2
{
	font-size:3.3vmin;
}

p, a, ul, li
{
	font-size:2.25vmin;
}

#league-logo
{
	width:50%;
	height:auto;
}

#errorText, #successText
{
	height:auto;
}
#errorText
{
	color:#e3313f;
}
#successText
{
	color:#15bf6d;
}

@media only screen and (orientation: landscape)
{
	/*Place styles here for landscape-mode devices*/
	h1
	{
		font-size:5vmin;
	}
	
	h2
	{
		font-size:3vmin;
	}
	
	p, a, ul, li
	{
		font-size:1.75vmin;
	}
	
	#league-logo
	{
		width:20%;
	}
}

@font-face
{
	font-family: wingdings;
	src: url('../fonts/wingding.eot'); /* IE9 Compat Modes */
	src: url('../fonts/wingding.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/wingding.woff2') format('woff2'), /* Modern Browsers */
		url('../fonts/wingding.woff') format('woff'), /* Modern Browsers */
		url('../fonts/wingding.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/wingding.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
	font-style: normal;
}