/*General styles go here*/
html
{
	font-size:62.5%;
}

body
{
	background-color:#e8f8ff;
	background-image:linear-gradient(to bottom right, #e8f8ff, #63cfff);
	background-repeat:no-repeat;
	min-height:95vh;
	overflow-x:hidden;
	overflow-y:auto;
	margin:0%;
	padding-top:2.5vh;
	padding-bottom:2.5vh;
	font-family:'Roboto', sans-serif;
	color:#007eff;/*#edfaff;*/
	text-align:center;
}

h1
{
	margin-bottom:12vmin;
	font-size:5.5vmin;
	color:#0067cf;
}

h2
{
	font-size:3.3vmin;
}

p, ul, li
{
	font-size:2.25vmin;
}

#league-logo
{
	width:50%;
	height:auto;
}

#errorText, #successText
{
	height:auto;
}
#errorText
{
	color:#e3313f;
}
#successText
{
	color:#15bf6d;
}

@media only screen and (orientation: landscape)
{
	/*Place styles here for landscape-mode devices*/
	h1
	{
		font-size:5vmin;
	}
	
	h2
	{
		font-size:3vmin;
	}
	
	p, ul, li
	{
		font-size:1.75vmin;
	}
	
	#league-logo
	{
		width:20%;
	}
}