/*General styles go here*/
html
{
	font-size:62.5%;
}

body
{
	background-color:#e8f8ff;
	background-image:linear-gradient(to bottom right, #e8f8ff, #63cfff);
	background-repeat:no-repeat;
	background-size:110vw 110vh;
	width:100vw;
	height:95%;
	min-height:95vh;
	overflow-x:hidden;
	margin:0%;
	padding-top:2.5vh;
	font-family:'Roboto', sans-serif;
	color:#007eff;/*#edfaff;*/
	text-align:center;
}

h1
{
	margin-bottom:12vmin;
	font-size:5.5vmin;
	color:#0067cf;
}

h2
{
	font-size:3.3vmin;
}

p
{
	font-size:2.25vmin;
}

#league-logo
{
	width:50%;
	height:auto;
}

#errorText, #successText
{
	height:auto;
}
#errorText
{
	color:#e3313f;
}
#successText
{
	color:#15bf6d;
}

@media only screen and (orientation: landscape)
{
	/*Place styles here for landscape-mode devices*/
	h1
	{
		font-size:5vmin;
	}
	
	h2
	{
		font-size:3vmin;
	}
	
	p
	{
		font-size:1.5vmin;
	}
	
	#league-logo
	{
		width:20%;
	}
}

@media only screen and (min-width: 875px)
{
	/*Portrait-mode tablet styles go here*/
}

@media only screen and (min-width: 1050px)
{
	/*Landscape-mode tablet styles go here*/
}

@media only screen and (min-width: 1260px)
{
	/*720p desktop styles go here (1280x720)*/
}

@media only screen and (min-width: 1900px)
{
	/*1080p desktop styles go here (1920x1080)*/
}

@media only screen and (min-width: 2028px)
{
	/*2K desktop styles go here (2048x1080)*/
}

@media only screen and (min-width: 2540px)
{
	/*1440p desktop styles go here (2560x1440)*/
}

@media only screen and (min-width: 3120px)
{
	/*Intermediary breakpoint between 1440p and 4K*/
}

@media only screen and (min-width: 3820px)
{
	/*4K desktop styles go here (3840x2560)*/
}

@media only screen and (min-width: 4560px)
{
	/*Intermediary breakpoint 1 between 4K and 8K*/
}

@media only screen and (min-width: 5240px)
{
	/*Intermediary breakpoint 2 between 4K and 8K*/
}

@media only screen and (min-width: 5920px)
{
	/*Intermediary breakpoint 3 between 4K and 8K*/
}

@media only screen and (min-width: 6880px)
{
	/*Intermediary breakpoint 4 between 4K and 8K*/
}

@media only screen and (min-width: 7200px)
{
	/*Intermediary breakpoint 5 between 4K and 8K*/
}

@media only screen and (min-width: 7660px)
{
	/*8K and above desktop styles go here (7680x3840)*/
}

/*Animation styles go here*/