/*General styles go here*/
#league-logo:not(.unchanged)
{
	position:relative;
}

h1:not(.unchanged)
{
	position:relative;
	margin-bottom:2.5vmin;
}

.card-container
{
	display:inline-block;
	position:relative;
	width:70vmin;
	height:87.5vmin;
	margin:5vmin;
	/*background-color:#555;*/
}

.trainer-card
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	/*background-color:#00f;*/
	cursor:pointer;
	transform-style:preserve-3d;
	-webkit-transform-style: preserve-3d;
	transition:all .75s;
}
.trainer-card.flip
{
	transform: rotateY(180deg);
}

.card-front, .card-back
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	border-radius:5%;
	box-shadow:.5vmin .5vmin 1vmin #222;
	overflow:hidden;
	backface-visibility:hidden;
	-webkit-backface-visibility: hidden;
}
.card-front
{
	background-color:#ddd;
}
.card-back
{
	background-color:var(--cardColor, #696969);
	transform: rotateY(180deg);
}

.card-front-bg, .card-front-fg, .card-front-overlay
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:95%;
	background-image:var(--bgImg);
	background-repeat:no-repeat;
}
.card-front-bg
{
	/*background-size:auto 100%;*/
	background-size:cover;
}
.card-front-fg
{
	background-size:100% auto;
}
.card-front-overlay
{
	/*background-size:auto 100%;*/
	background-size:cover;
	opacity:.2;
}

.card-front-border-container
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	filter: drop-shadow(0vh .3vh .4vh #000);
}
.card-front-border
{
	position:absolute;
	bottom:-10%;
	left:-15%;
	width:130%;
	height:25%;
	background-color:var(--cardColor, #696969);
	transform:rotateZ(-10deg);
}

.card-front-text
{
	position:absolute;
	bottom:0;
	right:0;
	width:100%;
	height:auto;
	text-align:right;
	margin:0% 2.5%;
	font-size:18vmin;
	color:#fff;
	text-shadow:.5vmin .5vmin 1vmin #222;
}

.card-back-text
{
	/*position:absolute;
	top:0;
	left:0;*/
	width:100%;
	height:auto;
	margin:3.5% 0%;
	font-size:4.5vmin;
	color:#fff;
	text-shadow:.5vmin .5vmin 1vmin #222;
}

.card-back-text-small
{
	width:auto;
	height:auto;
	margin:7.5%;
	font-size:3vmin;
	color:#fff;
	text-shadow:.1vmin .1vmin .5vmin #000;
}

.card-back-overlay
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(15,15,15,.05);
	z-index:-1;
}

input[type="text"]
{
	width:50%;
	margin:1vmin 0vmin;
}

#badge-form
{
	margin-top:-2.5vmin;
	margin-bottom:-4.5vmin;
}

#update-form>h2.input-label
{
	display:inline-block;
	margin-right:1vmin;
}

input[type="color"]
{
	width:10%;
	height:5vmin;
}

/*Pokemon badge styles below*/
.card-front-badge
{
	display:inline-block;
	position:absolute;
	top:1%;
	left:1%;
	width:15%;
	height:auto;
	padding-top:15%;
	margin:2%;
	border: .15vmin outset #d4af37;
	z-index:1;
}

.badge
{
	display:inline-block;
	width:16.5%;
	padding-top:16.5%;
	margin:2% 2.5%;
	border: .15vmin outset #d4af37;
}

.taken
{
	opacity:.45;
}

@media only screen and (orientation: landscape)
{
	/*Place styles here for landscape-mode devices*/
	#league-logo:not(.unchanged)
	{
		display:inline-block;
		left:-5vmin;
	}
	
	h1:not(.unchanged)
	{
		display:inline-block;
		top:-12vmin;
	}
	
	.card-container
	{
		width:40vmin;
		height:50vmin;
	}
	
	#search-form
	{
		margin-top:-3.5vmin;
		margin-bottom:-2.5vmin;
		padding:0% 20%;
	}
	
	#search-form>input[type="text"]
	{
		margin-right:1vmin;
	}
	
	#update-form
	{
		display:inline-block;
		position:relative;
		top:-10vmin;
	}
	
	#badge-form
	{
		position:relative;
		top:-7.5vmin;
		width:50%;
		margin-top:-5vmin;
		margin-bottom:0vmin;
		margin-left:35%;
	}
	
	input[type="submit"]
	{
		margin-top:1vmin;
	}
	
	input[type="color"]
	{
		width:10%;
		height:3vmin;
	}
	
	.card-front-text
	{
		font-size:10vmin;
	}
	
	.card-back-text
	{
		font-size:3vmin;
	}
	
	.card-back-text-small
	{
		margin:5%;
		font-size:1.75vmin;
	}
	
	.badge
	{
		width:15.5%;
		padding-top:15.5%;
	}
	
	@media only screen and (max-device-aspect-ratio: 5/3)
	{
		#update-form
		{
			top:0;
		}
	}
}

/*Pokemon type styles below*/
.normal, .fire, .water, .electric, .grass, .ice, .fighting, .poison, .ground, .flying, .psychic, .bug, .rock, .ghost, .dragon, .dark, .steel, .fairy
{
	background-size:60% 60%;
	background-repeat:no-repeat;
	background-position:center;
	border-radius:50%;
}

.normal
{
	background-color: #a0a29f;
	box-shadow: 0 0 3.5vmin #a0a29f;
	background-image:url('../images/type-icons/normal.svg');
}

.fire
{
	background-color: #fba54c;
	box-shadow: 0 0 3.5vmin #fba54c;
	background-image:url('../images/type-icons/fire.svg');
}

.water
{
	background-color: #539ddf;
	box-shadow: 0 0 3.5vmin #539ddf;
	background-image:url('../images/type-icons/water.svg');
}

.electric
{
	background-color: #f2d94e;
	box-shadow: 0 0 3.5vmin #f2d94e;
	background-image:url('../images/type-icons/electric.svg');
}

.grass
{
	background-color: #5fbd58;
	box-shadow: 0 0 3.5vmin #5fbd58;
	background-image:url('../images/type-icons/grass.svg');
}

.ice
{
	background-color: #75d0c1;
	box-shadow: 0 0 3.5vmin #75d0c1;
	background-image:url('../images/type-icons/ice.svg');
}

.fighting
{
	background-color: #d3425f;
	box-shadow: 0 0 3.5vmin #d3425f;
	background-image:url('../images/type-icons/fighting.svg');
}

.poison
{
	background-color: #b763cf;
	box-shadow: 0 0 3.5vmin #b763cf;
	background-image:url('../images/type-icons/poison.svg');
}

.ground
{
	background-color: #da7c4d;
	box-shadow: 0 0 3.5vmin #da7c4d;
	background-image:url('../images/type-icons/ground.svg');
}

.flying
{
	background-color: #a1bbec;
	box-shadow: 0 0 3.5vmin #a1bbec;
	background-image:url('../images/type-icons/flying.svg');
}

.psychic
{
	background-color: #fa8581;
	box-shadow: 0 0 3.5vmin #fa8581;
	background-image:url('../images/type-icons/psychic.svg');
}

.bug
{
	background-color: #92bc2c;
	box-shadow: 0 0 3.5vmin #92bc2c;
	background-image:url('../images/type-icons/bug.svg');
}

.rock
{
	background-color: #c9bb8a;
	box-shadow: 0 0 3.5vmin #c9bb8a;
	background-image:url('../images/type-icons/rock.svg');
}

.ghost
{
	background-color: #5f6dbc;
	box-shadow: 0 0 3.5vmin #5f6dbc;
	background-image:url('../images/type-icons/ghost.svg');
}

.dragon
{
	background-color: #0c69c8;
	box-shadow: 0 0 3.5vmin #0c69c8;
	background-image:url('../images/type-icons/dragon.svg');
}

.dark
{
	background-color: #595761;
	box-shadow: 0 0 3.5vmin #595761;
	background-image:url('../images/type-icons/dark.svg');
}

.steel
{
	background-color: #5695a3;
	box-shadow: 0 0 3.5vmin #5695a3;
	background-image:url('../images/type-icons/steel.svg');
}

.fairy
{
	background-color: #ee90e6;
	box-shadow: 0 0 3.5vmin #ee90e6;
	background-image:url('../images/type-icons/fairy.svg');
}